.network-graph-container {
  width: 100%;
  height: 100vh;
  background-color: #050518;
}


.graph-title {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-family: Arial, sans-serif;
  z-index: 10;
}

.graph-controls {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  z-index: 10;
}

.loading-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
  z-index: 5;
}